<!DOCTYPE html>
<html>
<head>
<title>Numpy Photo Editor</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h1>Numpy Photo Editor</h1>
Here is the photo to be edited.<p>

<hr><p>

{% for file in files %}
    <h2>{{ file }}</h2>
    <img src="{{ url_for('static', filename='uploads/{}/{}'.format(uuid, file)) }}">
{% endfor %}

<p>

<form id="format-form" action="{{ url_for('format_image', uuid=uuid) }}" method="POST" enctype="multipart/form-data">
    <input type="submit" class="btn btn-primary" value="Original" name="original">
    <input type="submit" class="btn btn-primary" value="Crop" name="crop">
    <input type="submit" class="btn btn-primary" value="Flip" name="flip">
    <input type="submit" class="btn btn-primary" value="Brighten" name="brighten">
    <input type="submit" class="btn btn-primary" value="Darken" name="darken">
    <a href="{{ url_for('index') }}" class="btn btn-danger red lighten-1 ">Back to front page</a><p>
</form>
</div>
</body>
</html>