<!DOCTYPE html>
<html>
<head>
<title>Flask File Uploader</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
<h1>Numpy Photo Editor</h1>

Only upload <strong>image type files</strong> in the form below.<p>

<hr><p>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

  <div class="custom-file">
    <input type="file" class="custom-file-input" id="file-picker" name="file" accept="image/*">
    <label class="custom-file-label" for="file-picker">Choose file</label>
  </div>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>
    <p>

    <input class="btn btn-primary" type="submit" value="Upload!" id="upload-button">
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</div>

</body>
</html>